<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Youtube jukebox</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <% var pages = {"home":{"name":"Home", "url":"/"}, "playlist":{"name":"Playlist", "url":"/playlist"}, "search":{"name":"Search", "url":"/search"}, "player":{"name":"Player", "url":"/player"}}; %>
                <% for (var pageID in pages) { %>
                    <% var pageName = pages[pageID]["name"]; %>
                    <% var pageURL = pages[pageID]["url"]; %>
                    <% if (page == pageID) { %>
                        <li class="active"><a href="<%= pageURL %>"><span><%= pageName %></span></a></li>
                    <% } else { %>
                        <li><a href="<%= pageURL %>"><span><%= pageName %></span></a></li>
                    <% } %>
                <% } %>
            </ul>
        </div>
    </div>
</nav>