<%- include("inc/header"); %>
<script type="text/javascript">
	$(function() {
		resizeContent();
	});
</script>
<div class="container">
	<div class="row" style="height:100%;">
		<div class="col-md-6">
			Queued songs:
			<div class="well well-sm">
				Item1
			</div>
		</div>
		<div class="col-md-6 right">
			Search:
		</div>
	</div>
</div>
<%- include("inc/footer"); %>