<%- include("inc/header", {noContent: true}); %>
<style type="text/css">
	html, body {
		height: 100%;
		margin: 0 !important;
		overflow-y: hidden;
	}
	.container-fluid {
		width: 100%;
	}
	.left {
		padding-left: 0 !important;
	}
	.right {
		padding-right: 0 !important;
	}
</style>
<% var strQueue = ""; %>
<% for (var video in songs) { %>
	<% strQueue = strQueue + video + "," %>
<% } %>
<% strQueue = strQueue.replace(/,\s*$/, ""); %>
<div class="container-fluid fillHeight">
	<div class="row fillHeight">
		<div class="col-xs-8 fillHeight left">
			<!--<iframe id="ytplayer" type="text/html" src="https://www.youtube.com/embed/M7lc1UVf-VE?autoplay=1" frameborder="0"></iframe>-->
			<div id="ytplayer"></div>

			<script>
				var tag = document.createElement('script');
				tag.src = "https://www.youtube.com/iframe_api";
				var firstScriptTag = document.getElementsByTagName('script')[0];
				firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

				var player;
				function onYouTubeIframeAPIReady() {
					player = new YT.Player('ytplayer', {
						playerVars: {
							rel: 0,
							playlist: "<%- strQueue %>",
							autoplay: 1,
							controls: 1
						},
						events: {
							'onReady': onPlayerReady,
							'onStateChange': onPlayerStateChange
						}
					});
				}

				function onPlayerReady(event) {
					player.playVideo();
				}

				var lastVid = "";
				function onPlayerStateChange(event) {
					if (event.data == YT.PlayerState.ENDED) {
						var queue = getQueue();
						var key = Object.keys(queue)[0];
						var nextSong = 1;
						if (queue.length <= 1) {
							nextSong = 0;
						}

						if (key != lastVid) {
							nextSong = 0;
						}else{
							removeQueue(key, queue[key].kind);
						}

						player.loadPlaylist(getStrQueue(), nextSong);
					}else if(event.data == YT.PlayerState.PLAYING) {
						lastVid = player.getVideoData().video_id;
					}
				}
			</script>
		</div>
		<div class="col-xs-4 right">
			<span id="queueTitle">Queued songs:</span>
			<span id="errorText"></span>
			<div class="vScroll" id="queueList">
				<% if (typeof songs == "undefined" || !songs || typeof songs.length == "undefined" || songs.length === 0) { %>
					<b>No songs in queue</b>
				<% } else { %>
					<% for(var key in songs) { %>
						<% var song = songs[key]; %>
						<div class="well well-sm">
							<%- song.snippet.title; %>
						</div>
					<% } %>
				<% } %>
			</div>
			<script>
				$(function() {
					resizeElement("#queueList", "#queueTitle", 4);
					setInterval(updateQueue, 1000);
				});
			</script>
		</div>
	</div>
</div>
<script type="text/javascript" src="/js/queue.js"></script>
<%- include("inc/footer", {noContent: true}); %>