<%- include("inc/header", {noContent: true}); %>
<style type="text/css">
	html, body {
		height: 100%;
		margin: 0 !important;
	}
</style>
<div class="container-fluid fillHeight">
	<div class="row fillHeight">
		<div class="col-xs-8 fillHeight">
			<iframe id="ytplayer" type="text/html" src="https://www.youtube.com/embed/M7lc1UVf-VE?autoplay=1" frameborder="0"></iframe>
			<script>
				function resizePlayer() {
					$("#ytplayer").height($(window).height()-3);
				}
				
				$(window).resize(function() {resizePlayer();});
				
				$(function() {resizePlayer()});
			</script>
		</div>
		<div class="col-xs-4 right">
			<span id="queueTitle">Queued songs:</span>
			<div class="vScroll" id="queueList">
				<% if ((typeof songs == 'undefined') || (songs.length == 0) || (songs.length <= 0) || (songs == {})) { %>
					<b>No songs in queue</b>
				<% } else { %>
				<% console.log(songs); %>
					<% for(var key in songs) { %>
						<% var song = songs[key]; %>
						<% console.log(""); %>
						<div class="well well-sm">
							<%- song.snippet.title; %>
						</div>
					<% } %>
				<% } %>
			</div>
			<script>
				$(function() {
					resizeElement("#queueList", "#queueTitle", 4);
				});
			</script>
		</div>
	</div>
</div>
<%- include("inc/footer", {noContent: true}); %>