<%- include("inc/header"); %>
<style type="text/css">
	iframe {
		width: 100%;
		height: 100%;
	}
</style>
<script type="text/javascript">
	$(function() {
		resizeContent();
	});
</script>
<div class="container">
	<iframe src="/player_frame" frameBorder="0">Browser not compatable</iframe>
</div>
<%- include("inc/footer"); %>